.img-responsive
{
    max-width:80%;
    text-align:center;
    display:inline;
    max-height:400px;
    margin-bottom:10px;
}
body
{
    text-align:center;
}
.fancybox
{
    display:block;
}
#sidebar
{
    margin-top:5%;
}
.header
{
    padding: 60px 0;
    background-color: #6f5499;
    background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);
    background-repeat: repeat-x;
    color: #cdbfe3;
    margin-top:2%;
}
.header small
{
    color: #B6ABC9;
}
.header p
{
    padding:0 14%;
}
.section
{
    margin-bottom:60px;
}